<h1>CoachingController#ask</h1>
<p>Find me in app/views/coaching_controller/ask.html.erb</p>

<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="enquiry" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>

